@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Solaris';
    src: url('../public/Solaris.ttf');
  }

  @font-face {
    font-family: 'SF-Pro';
    src: url('../public/SF-Pro.ttf');
  }
}
